body {
    background-color: black;
    font-style: italic;
    color: beige;
    overflow-x: hidden;
  }
  h2 {
    transition: transform ease 1.5s;
  }
  h2:hover {
    transform: scale(1.35);
  }
  button {
    padding: 5px;
    margin: 5px;
    transition:   transform 1.5s ease, background-color 1s;
  }
  li{
    list-style: none;
  }
  